<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUQX7za_8G8NGA_7KvUHM4Top7BoYHBZU</string>
	<key>GCM_SENDER_ID</key>
	<string>595215428527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sasco.mathskills</string>
	<key>PROJECT_ID</key>
	<string>math-skills-game</string>
	<key>STORAGE_BUCKET</key>
	<string>math-skills-game.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595215428527:ios:9472c0f62574cd94569d5a</string>
</dict>
</plist>